<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SYFC.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A1656342B437FC9EA87C288BD24E545A36185990</string>
				<key>dateExpires</key>
				<string>21/5/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1656342B437FC9EA87C288BD24E545A36185990</string>
						<key>dateExpires</key>
						<string>21/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4F6LM54QKY</string>
						<key>name</key>
						<string>Terra Systems Pte Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1656342B437FC9EA87C288BD24E545A36185990</string>
						<key>dateExpires</key>
						<string>21/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4F6LM54QKY</string>
						<key>name</key>
						<string>Terra Systems Pte Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>10.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1656342B437FC9EA87C288BD24E545A36185990</string>
						<key>dateExpires</key>
						<string>21/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4F6LM54QKY</string>
						<key>name</key>
						<string>Terra Systems Pte Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>10.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1656342B437FC9EA87C288BD24E545A36185990</string>
						<key>dateExpires</key>
						<string>21/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4F6LM54QKY</string>
						<key>name</key>
						<string>Terra Systems Pte Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>10.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1656342B437FC9EA87C288BD24E545A36185990</string>
						<key>dateExpires</key>
						<string>21/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4F6LM54QKY</string>
						<key>name</key>
						<string>Terra Systems Pte Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>7.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1656342B437FC9EA87C288BD24E545A36185990</string>
						<key>dateExpires</key>
						<string>21/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Promise.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4F6LM54QKY</string>
						<key>name</key>
						<string>Terra Systems Pte Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1656342B437FC9EA87C288BD24E545A36185990</string>
						<key>dateExpires</key>
						<string>21/5/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4F6LM54QKY</string>
						<key>name</key>
						<string>Terra Systems Pte Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4F6LM54QKY.terra.newsyfc</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.networking.networkextension</key>
				<array>
					<string>app-proxy-provider</string>
					<string>content-filter-provider</string>
					<string>dns-proxy</string>
					<string>dns-settings</string>
					<string>packet-tunnel-provider</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>4F6LM54QKY</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>4F6LM54QKY.terra.newsyfc</string>
				</array>
			</dict>
			<key>name</key>
			<string>SYFC.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5871927c-d564-4a7b-a29d-1459ba8db9eb</string>
				<key>dateExpires</key>
				<string>21/5/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: terra.newsyfc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4F6LM54QKY</string>
				<key>name</key>
				<string>Terra Systems Pte Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>1.02</string>
		</dict>
	</array>
</dict>
</plist>
